# ================================
# Variables de entorno
# ================================
.env
.env.*
!.env.example
frontend/.env
backend/.env.*
backend/.env.*
!backend/.env.desarrollo.example

# ================================
# Entornos virtuales
# ================================
.venv/
venv/
env/

# ================================
# Python / Django
# ================================
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
staticfiles/
media/

# ================================
# Node / Angular
# ================================
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.angular/
dist/
.angular/

# Build de Angular dentro de Django
backend/static/frontend/*

# ================================
# Docker & Bases de Datos
# ================================
*.dump
*.sql
*.json
*.tar
*.gz

# ================================
# Editores y Sistema Operativo
# ================================
.vscode/
.idea/
.DS_Store
Thumbs.db