# ==========================================
# CONFIGURACIÓN DE DJANGO (ENTORNO DESARROLLO)
# ==========================================
DEBUG=True
SECRET_KEY=django-insecure-tu_clave_secreta_local_para_desarrollo_sgmb_123

# Hosts permitidos en desarrollo
ALLOWED_HOSTS=localhost,127.0.0.1

# ==========================================
# BASE DE DATOS PRINCIPAL: POSTGRESQL (DOCKER)
# ==========================================
DB_ENGINE=django.db.backends.postgresql
DB_HOST=localhost
DB_PORT=5434
DB_NAME=sgmb_db
DB_USER=sgmb_user
DB_PASSWORD=xxxxxxxx

# ==========================================
# BASE DE DATOS NOSQL: MONGODB (DOCKER)
# ==========================================
MONGO_URI=mongodb://sgmb_user:xxxxx@localhost:27018/sgmb_mongo_db?authSource=admin
MONGO_DB_NAME=sgmb_mongo_db

# ==========================================
# CONFIGURACIONES ADICIONALES (CORS / FRONTEND)
# ==========================================
# Para permitir peticiones desde Angular local (http://localhost:4200)
CORS_ALLOWED_ORIGINS=http://localhost:4200


# NOTA: COMO MODIFICAR ESTE ARCHIVO
# SECRET_KEY= EL SECRET DE CADA DJANGO(EN SETTING ESTA)
# DB_PASSWORD=xxxxxxxx  ==> PASS Q CORRESPONDA
# RENOMBRAR EL ARCHIVO ==> .env.desarrollo
