<section class="sgmb-auth">
  <main class="sgmb-auth__content container py-5">
    <div
      class="sgmb-auth__form sgmb-auth__form--forgot card shadow-sm p-4 mx-auto"
      style="max-width: 450px"
    >
      <!-- Alerta de éxito  -->
      @if (mensajeExito) {
        <div class="alert alert-success" role="alert">
          {{ mensajeExito }}
        </div>
      }

      @if (mensajeError) {
        <div class="alert alert-danger" role="alert">
          {{ mensajeError }}
        </div>
      }

      <!-- VISTA: Solicitar correo -->
      @if (!isTokenMode) {
        <h1>Recuperar contraseña</h1>
        <p class="sgmb-auth__description text-muted">
          Ingrese su correo electrónico y le enviaremos las instrucciones para
          recuperar su contraseña.
        </p>

        <form [formGroup]="emailForm" (ngSubmit)="solicitar()" novalidate>
          <div class="sgmb-auth__field mb-3">
            <label for="recovery-email" class="form-label text-muted"
              >Ingrese su correo electrónico</label
            >
            <input
              id="recovery-email"
              type="email"
              formControlName="email"
              placeholder="Ej: juan_lopez@gmail.com"
              class="form-control"
              [class.is-invalid]="
                emailForm.get('email')?.invalid &&
                (emailForm.get('email')?.dirty ||
                  emailForm.get('email')?.touched)
              "
            />

            @if (
              emailForm.get("email")?.errors &&
              (emailForm.get("email")?.dirty || emailForm.get("email")?.touched)
            ) {
              <div class="invalid-feedback d-block">
                @if (emailForm.get("email")?.hasError("required")) {
                  El correo es obligatorio.
                }
                @if (emailForm.get("email")?.hasError("email")) {
                  Ingresá un correo válido.
                }
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="emailForm.invalid"
            class="sgmb-auth__submit btn  w-100"
          >
            Recuperar contraseña
          </button>
        </form>
      }

      <p class="sgmb-auth__footer mt-3 text-center">
        ¿Recordaste tu contraseña?
        <a routerLink="/login">Iniciar sesión</a>
      </p>
    </div>
  </main>
</section>